:root {
    --grey: rgb(200, 200, 200);
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

header {
    align-items: center;

    margin: 0 0;
    padding: 20px var(--padding);
    width: 100%;
    height: 75px;
    background-color: var(--grey);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
}

div#introParent {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cener;
    height: 110vh;
    width: 100vw;

    background-color: rgb(18, 18, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

div#introScreen {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;

    height: 10vh;
    width: 100vw;

    background-color: rgb(18, 18, 18);
    transition: 2s;
}

div#introScreen h3 {
    color: white;
}

.blur {
    filter: blur(6px);
}

div#introButtons {
    width: 15%;
    height: 30%;
}

div#introButtons button {
    position: absolute;
    display: block;
    width: 5em;
    height: 5em;

    transition: 0.05s;
    cursor: pointer;
    border-radius: 0;
}

button#oldfashionedButtonParent {
    transition: 1s ease-out;
}

button#oldfashionedButtonParent:hover {
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.right-button-pos {
    right: 40%;
}

main {
    padding: 30px calc(var(--padding) * 2);
    background-color: var(--grey);
}

.flexrow {
    display: flex;
    flex-direction: row;
}